In [1]:
import numpy as np

In [2]:
A = np.array([
  [0,  7],
  [5, 23]
])



# Convert A to a floating-point data type to perform devision properly
A = A.astype(float)  


# The following will find first non zero entry also raw number of first non zero entry
i = 0
while A[i,0] ==0:
    i += 1
    
p = A[i,0]   # Set first non-zero element 
for j in range(0,2):  # 2 is the number corresponding to the columns
    A[i,j] = A[i,j]/p

In [3]:
A

array([[0. , 7. ],
       [1. , 4.6]])

In [4]:
A = np.array([
  [3,  7],
  [5, 23]
])


# Convert A to a floating-point data type to perform devision properly
A = A.astype(float)  
m = A.shape[0]         # Number of raws
n = A.shape[1]        # Number of columns


# The following will find first non zero entry in first column also raw number of first non zero entry
i = 0
while A[i,0] ==0:
    i += 1
    
p = A[i,0]   # Set first non-zero element 
for j in range(0,n):  
    A[i,j] = A[i,j]/p

In [5]:
A

array([[ 1.        ,  2.33333333],
       [ 5.        , 23.        ]])

In [6]:
# In above normalised the raw with first non zero entry
# Now we will be making  all entries below the non zero entry as 0
# We need only if the non zero entry is not the last raw

if i != n-1:  # Do this only if the non zero raw is not last raw
    i+= 1   # Moving to second raw
    q = A[i,0] # Fixing non zero entry of the raw
    for j in range(0,n):
        A[i,j] = A[i,j] - (q*A[i-1,j])

In [7]:
A

array([[ 1.        ,  2.33333333],
       [ 0.        , 11.33333333]])

In [8]:
A = np.array([
  [3,  7],
  [5, 23]
])


# Convert A to a floating-point data type to perform devision properly
A = A.astype(float)  
m = A.shape[0]         # Number of raws
n = A.shape[1]        # Number of columns


# The following will find first non zero entry in first column also raw number of first non zero entry
i = 0
while A[i,0] ==0:
    i += 1
    
p = A[i,0]   # Set first non-zero element 
for j in range(0,n):  
    A[i,j] = A[i,j]/p
    
    
if i != n-1:  # Do this only if the non zero raw is not last raw
    i+= 1   # Moving to second raw
    q = A[i,0] # Fixing non zero entry of the raw
    for j in range(0,n):
        A[i,j] = A[i,j] - (q*A[i-1,j])

In [9]:
A

array([[ 1.        ,  2.33333333],
       [ 0.        , 11.33333333]])

In [10]:
A = np.array([
  [0,  7],
  [5, 23]
])

def raw_reduced(A):

    # Convert A to a floating-point data type to perform devision properly
    A = A.astype(float)  
    m = A.shape[0]         # Number of raws
    n = A.shape[1]        # Number of columns


    # The following will find first non zero entry in first column also raw number of first non zero entry
    i = 0
    while A[i,0] ==0:
        i += 1
    
    p = A[i,0]   # Set first non-zero element 
    for j in range(0,n):  
        A[i,j] = A[i,j]/p
    
    
    if i != n-1:  # Do this only if the non zero raw is not last raw
        i+= 1   # Moving to second raw
        q = A[i,0] # Fixing non zero entry of the raw
        for j in range(0,n):
            A[i,j] = A[i,j] - (q*A[i-1,j])

In [11]:
raw_reduced(A)

In [12]:
def raw_reduced(A):

    # Convert A to a floating-point data type to perform devision properly
    A = A.astype(float)  
    m = A.shape[0]         # Number of raws
    n = A.shape[1]        # Number of columns


    # The following will find first non zero entry in first column also raw number of first non zero entry
    i = 0
    while A[i,0] ==0:
        i += 1
    
    p = A[i,0]               # Set first non-zero element in the raw
    for j in range(0,n):  
        A[i,j] = A[i,j]/p    # Divide each element in the raw with first non zero element
    
    
    if i != m-1:            # Do this only if the non zero raw is not last raw
        i+=1               # Moving to next raw
        q = A[i,0] # Fixing non zero entry of the raw
        for j in range(0,n):
            A[i,j] = A[i,j] - (q*A[i-1,j])
            
    return A

In [13]:
A = np.array([
  [1,  7],
  [5, 23]
])


raw_reduced(A)

array([[  1.,   7.],
       [  0., -12.]])

In [14]:
A = np.array([[0,1],[23,31]])

print(A)
raw_reduced(A)

[[ 0  1]
 [23 31]]

array([[0.        , 1.        ],
       [1.        , 1.34782609]])

--------
----------

In [15]:
A= np.array([[1,2,3],[3,4,5],[10,9,8]])

print(A)
raw_reduced(A)

[[ 1  2  3]
 [ 3  4  5]
 [10  9  8]]

array([[ 1.,  2.,  3.],
       [ 0., -2., -4.],
       [10.,  9.,  8.]])

In [16]:
A= np.array([[0,2,3],[3,4,5],[10,9,8]])

print(A)
raw_reduced(A)

[[ 0  2  3]
 [ 3  4  5]
 [10  9  8]]

array([[ 0.        ,  2.        ,  3.        ],
       [ 1.        ,  1.33333333,  1.66666667],
       [ 0.        , -4.33333333, -8.66666667]])

In [17]:
A= np.array([[0,2,3],[3,4,5]])
A.shape[0]

2

## A proper code

In [18]:
def raw_reduced(A):

    # Convert A to a floating-point data type to perform devision properly
    A = A.astype(float)  
    m = A.shape[0]         # Number of raws
    n = A.shape[1]        # Number of columns


    # The following will find first non zero entry in first column also raw number of first non zero entry
    i = 0
    while A[i,0] ==0:
        i += 1
    
    p = A[i,0]               # Set first non-zero element in the raw
    for j in range(0,n):  
        A[i,j] = A[i,j]/p    # Divide each element in the raw with first non zero element
    
    
    if i != m-1:            # Do this only if the non zero raw is not last raw
        for k in range(i+1,m):               # Moving to next raw
            q = A[k,0] # Fixing non zero entry of the raw
            for j in range(0,n):
                A[k,j] = A[k,j] - (q*A[i,j])
                
            
    return A

In [19]:
i = 0
for k in range(i+1,3):
    print(k)

1
2

In [20]:
A = np.array([
  [1,  7],
  [5, 23]
])

print(A)
raw_reduced(A)

[[ 1  7]
 [ 5 23]]

array([[  1.,   7.],
       [  0., -12.]])

In [21]:
A = np.array([
  [0,  7],
  [5, 23]
])

print(A)
raw_reduced(A)

[[ 0  7]
 [ 5 23]]

array([[0. , 7. ],
       [1. , 4.6]])

In [22]:
A= np.array([[1,2,3],[3,4,5],[10,9,8]])

print(A)
raw_reduced(A)

[[ 1  2  3]
 [ 3  4  5]
 [10  9  8]]

array([[  1.,   2.,   3.],
       [  0.,  -2.,  -4.],
       [  0., -11., -22.]])

In [23]:
A= np.array([[0,2,3],[3,4,5],[10,9,8]])

print(A)
raw_reduced(A)

[[ 0  2  3]
 [ 3  4  5]
 [10  9  8]]

array([[ 0.        ,  2.        ,  3.        ],
       [ 1.        ,  1.33333333,  1.66666667],
       [ 0.        , -4.33333333, -8.66666667]])

In [24]:
A= np.array([[0,2,3],[3,4,5]])

print(A)
raw_reduced(A)

[[0 2 3]
 [3 4 5]]

array([[0.        , 2.        , 3.        ],
       [1.        , 1.33333333, 1.66666667]])

In [25]:
A= np.array([[0,2,3,6],[3,5,4,5],[21,10,9,8]])

print(A)
raw_reduced(A)

[[ 0  2  3  6]
 [ 3  5  4  5]
 [21 10  9  8]]

array([[  0.        ,   2.        ,   3.        ,   6.        ],
       [  1.        ,   1.66666667,   1.33333333,   1.66666667],
       [  0.        , -25.        , -19.        , -27.        ]])

In [26]:
A= np.array([[0,2,3,6,5],[3,5,4,5,8],[21,10,9,8,24]])

print(A)
raw_reduced(A)

[[ 0  2  3  6  5]
 [ 3  5  4  5  8]
 [21 10  9  8 24]]

array([[  0.        ,   2.        ,   3.        ,   6.        ,
          5.        ],
       [  1.        ,   1.66666667,   1.33333333,   1.66666667,
          2.66666667],
       [  0.        , -25.        , -19.        , -27.        ,
        -32.        ]])

In [27]:
A= np.array([[0,2,3,6,5],[0,5,4,5,8],[0,10,9,8,24]])

print(A)
raw_reduced(A)

[[ 0  2  3  6  5]
 [ 0  5  4  5  8]
 [ 0 10  9  8 24]]

IndexError: index 3 is out of bounds for axis 0 with size 3

In [28]:
A= np.array([[0,2],[0,5]])

print(A)
raw_reduced(A)

[[0 2]
 [0 5]]

IndexError: index 2 is out of bounds for axis 0 with size 2

- This errors means we can use above defined function if and only if some element in the first raw is non zero. 
- We need to fix it
- We will be calling this function only if some entry is non zero

In [29]:
# Now we need to solve when all elements in the column is 0 
# If all the elemnts in the first column is 0 we move to column 2



def function_2(A):
    i = 0

    if any(A[j,0] != 0 for j in range(0,3)):  # Let us try with 3 raws
        return raw_reduced(A)
    else:
        print("Yes")

In [30]:
def function_2(A):
    # Check if any element in the first column of the first three rows is non-zero
    if any(A[j,0] != 0 for j in range(3)):
        B = raw_reduced(A)  # Call the raw_reduced function and assign the result to B
        return B  # Call the interchange_rows function with B
                  # Return the modified array C
        
    else:
        print("Yes")  # If the condition is not met, print "Yes"

In [31]:
A= np.array([[5,2],[3,5]])
print(A)

function_2(A)

[[5 2]
 [3 5]]

array([[1. , 0.4],
       [0. , 3.8]])

In [32]:
A= np.array([[0,2],[3,5]])
print(A)

function_2(A)

[[0 2]
 [3 5]]

array([[0.        , 2.        ],
       [1.        , 1.66666667]])

In [33]:
A = np.array([[0,2],[4,5]])

B = raw_reduced(A)
C = interchange_raws(B)

print(A)
print(B)
print(C)

NameError: name 'interchange_raws' is not defined

In [34]:
interchange_raws(B)

NameError: name 'interchange_raws' is not defined

In [35]:
A= np.array([[0,2,3,6,5],[0,5,4,5,8],[0,10,9,8,24]])

print(A)
function_2(A)

[[ 0  2  3  6  5]
 [ 0  5  4  5  8]
 [ 0 10  9  8 24]]
Yes

In [36]:
A= np.array([[12,2,3,6,5],[25,5,4,5,8],[2,10,9,8,24]])

print(A)
function_2(A)

[[12  2  3  6  5]
 [25  5  4  5  8]
 [ 2 10  9  8 24]]

array([[ 1.        ,  0.16666667,  0.25      ,  0.5       ,  0.41666667],
       [ 0.        ,  0.83333333, -2.25      , -7.5       , -2.41666667],
       [ 0.        ,  9.66666667,  8.5       ,  7.        , 23.16666667]])

In [37]:
A= np.array([[0,2,3,6,5],[25,5,4,5,8],[2,10,9,8,24]])

print(A)
function_2(A)

[[ 0  2  3  6  5]
 [25  5  4  5  8]
 [ 2 10  9  8 24]]

array([[ 0.  ,  2.  ,  3.  ,  6.  ,  5.  ],
       [ 1.  ,  0.2 ,  0.16,  0.2 ,  0.32],
       [ 0.  ,  9.6 ,  8.68,  7.6 , 23.36]])

------
-------

To interchange raw

In [38]:
def interchange_raws(A):
    i = 0             # Jus to show we are working with first column
    if A[0,0] != 1:    # Interchange only if the first element is not one 
        for k in range(2):    # Find index of raw with element 1
            if A[k, 0] != 0:
                A[[0, k]] = A[[k, 0]]
                break 
                
    else:
        return A

Function to rearrage raws such that raw with first 0 in the column interchange with raw with column value 1

In [39]:
A= np.array([[0,2],[0,4],[1,4]])
interchange_raws(A)

In [40]:
A

array([[0, 2],
       [0, 4],
       [1, 4]])

In [41]:
k

2

In [42]:
 # Swap raws



import numpy as np

A = np.array([1, 2, 3])
B = np.array([4, 5, 6])

# Create a temporary variable to store the value of A
temp = A

# Assign the value of B to A
A = B

# Assign the value of temp to B
B = temp

print(A) 
print(B)

[4 5 6]
[1 2 3]

In [43]:
import numpy as np

def find_index_of_first_non_zero_element(array):
  """Finds the index of the first non-zero element in the first column of a 3 by 3 NumPy array.

  Args:
    array: A 3 by 3 NumPy array.

  Returns:
    The index of the first non-zero element in the first column of the array, or None if there are no non-zero elements in the first column.
  """

  for i in range(array.shape[0]):
    if array[i, 0] != 0:
      return i

  return None

# Example usage:

array = np.array([[0, 1, 2], [3, 4, 5], [6, 7, 8]])
index = find_index_of_first_non_zero_element(array)
print(index)

1

In [44]:
A = np.array([[0, 1, 2], [0, 4, 5], [6, 7, 8]])

for k in range(3):
    if A[k, 0] != 0:
        break

In [45]:
k

2

-----
------

In [46]:
#### To Generalise the function raw_reduced

In [47]:
def raw_reduced_new(A):
    # Convert A to a floating-point data type to perform devision properly
    A = A.astype(float)  
    m = A.shape[0]         # Number of raws
    n = A.shape[1]        # Number of columns
    
    #for i in range(n):
    for i in range(0,1):
        r = None
        while A[i,i] == 0:
            i+= 1
            r = i
            
        p = A[r,i]
        
        for j in range(0,n):
            A[r,j] = A[r,j]/p
            
        return A

In [48]:
A = np.array([
  [0,5,  7],
  [31,0, 23],
  [0,4,13]
])

raw_reduced_new(A)

array([[ 0.        ,  5.        ,  7.        ],
       [31.        ,  0.        , 23.        ],
       [ 0.        ,  0.30769231,  1.        ]])

In [51]:
# Normalise the raws
def raw_reduced(A):

    # Convert A to a floating-point data type to perform devision properly
    A = A.astype(float)  
    m = A.shape[0]         # Number of raws
    n = A.shape[1]        # Number of columns


    # The following will find first non zero entry in first column also raw number of first non zero entry
    i = 0
    while A[i,0] ==0:
        i += 1
    
    p = A[i,0]               # Set first non-zero element in the raw
    for j in range(0,n):  
        A[i,j] = A[i,j]/p    # Divide each element in the raw with first non zero element
    
    
    if i != m-1:            # Do this only if the non zero raw is not last raw
        for k in range(i+1,m):               # Moving to next raw
            q = A[k,0] # Fixing non zero entry of the raw
            for j in range(0,n):
                A[k,j] = A[k,j] - (q*A[i,j])
            
    return A

In [52]:
A = np.array([
  [0,5,  7],
  [31,0, 23],
  [5,4,13]
])

raw_reduced(A)

array([[ 0. ,  5. ,  7. ],
       [31. ,  0. , 23. ],
       [ 1. ,  0.8,  2.6]])

#### Below code works for column 1

In [143]:

# Normalise the raws
def raw_reduced(A):

    # Convert A to a floating-point data type to perform devision properly
    A = A.astype(float)  
    m = A.shape[0]         # Number of raws
    n = A.shape[1]        # Number of columns


    # The following will find first non zero entry in first column also raw number of first non zero entry
    i = 1
    while A[i,1] ==0:
        i += 1
    
    p = A[i,1]               # Set first non-zero element in the raw
    for j in range(i-1,n):  
        A[i,j] = A[i,j]/p    # Divide each element in the raw with first non zero element
    
    
    if i != m-1:            # Do this only if the non zero raw is not last raw
        for k in range(i+1,m):               # Moving to next raw
            q = A[k,0] # Fixing non zero entry of the raw
            for j in range(0,n):
                A[k,j] = A[k,j] - (q*A[i,j])
            
    return A

In [144]:
A = np.array([
  [0,5,  7],
  [31,5, 23],
  [5,4,13]
])

raw_reduced(A)

array([[  0. ,   5. ,   7. ],
       [  6.2,   1. ,   4.6],
       [-26. ,  -1. , -10. ]])

---------

-------

In [139]:
# Normalise the raws
def raw_reduced(A):

    # Convert A to a floating-point data type to perform devision properly
    A = A.astype(float)  
    m = A.shape[0]         # Number of raws
    n = A.shape[1]        # Number of columns


    # The following will find first non zero entry in first column also raw number of first non zero entry
    i = 1 # Use for loop here
    c = i # fixing the column number
    while A[i,c] ==0:
        i += 1
    
    p = A[i,c]               # Set first non-zero element in the raw
    for j in range(i-1,n):  
        A[i,j] = A[i,j]/p    # Divide each element in the raw with first non zero element
    
    
    if i != m-1:            # Do this only if the non zero raw is not last raw
        for k in range(i+1,m):               # Moving to next raw
            q = A[k,0] # Fixing non zero entry of the raw
            for j in range(0,n):
                A[k,j] = A[k,j] - (q*A[i,j])
            
    return A

In [140]:
A = np.array([
  [0,5,  7],
  [8,4, 6],
  [5,4,5]
])

raw_reduced(A)

array([[ 0. ,  5. ,  7. ],
       [ 2. ,  1. ,  1.5],
       [-5. , -1. , -2.5]])

In [133]:
# Normalise the raws
def raw_reduced(A):

    # Convert A to a floating-point data type to perform devision properly
    A = A.astype(float)  
    m = A.shape[0]         # Number of raws
    n = A.shape[1]        # Number of columns


    # The following will find first non zero entry in first column also raw number of first non zero entry
    for i in range(0,n): # Use for loop here
        c = i # fixing the column number
        while A[i,c] ==0: # search index for first non zero entry of the column
                i += 1
    
        p = A[i,c]               # Set first non-zero element in the raw
        for j in range(i-1,n):  
                A[i,j] = A[i,j]/p    # Divide each element in the raw with first non zero element
    
    
        if i != m-1:            # Do this only if the non zero raw is not last raw
            for k in range(i+1,m):               # Moving to next raw
                q = A[k,0] # Fixing non zero entry of the raw
                for j in range(0,n):
                    A[k,j] = A[k,j] - (q*A[i,j])
            
        return A

In [138]:
A = np.array([
  [0,5,  7],
  [8,4, 6],
  [5,4,5]
])

raw_reduced(A)

array([[ 0.        ,  0.71428571,  1.        ],
       [ 1.        , -0.03571429,  0.        ],
       [ 0.        ,  0.60714286,  0.        ]])

In [132]:
A[2,1]

4

In [135]:
# Chat Gpt code
def raw_reduced(A):
    # Convert A to a floating-point data type to perform division properly
    A = A.astype(float)
    m = A.shape[0]  # Number of rows
    n = A.shape[1]  # Number of columns

    # Iterate over columns
    for i in range(n):
        c = i  # fixing the column number
        j = 0  # Initialize j here
        while j < m and A[j, c] == 0:  # Search index for first non-zero entry of the column
            j += 1

        if j == m:  # If the column is all zeros, move to the next column
            continue

        p = A[j, c]  # Set first non-zero element in the row
        for k in range(n):
            A[j, k] = A[j, k] / p  # Divide each element in the row with first non-zero element

        # Zero out the elements below the pivot
        for k in range(j + 1, m):
            q = A[k, c]  # Fixing non-zero entry of the row
            for l in range(n):
                A[k, l] = A[k, l] - (q * A[j, l])

    return A

In [136]:
A = np.array([
  [0,5,  7],
  [31,0, 23],
  [5,4,13]
])

raw_reduced(A)

array([[ 0.        ,  0.71428571,  1.        ],
       [ 1.        , -0.52995392,  0.        ],
       [ 0.        , -2.6359447 ,  0.        ]])